In [79]:
print(data.head())
print(data.info())  # Check new features and data types

   Customer ID  Age Item Purchased  Purchase Amount (USD)       Location Size  \
0            1   55         Blouse                 0.4125       Kentucky    L
1            2   19        Sweater                 0.5500          Maine    L
2            3   50          Jeans                 0.6625  Massachusetts    S
3            4   21        Sandals                 0.8750   Rhode Island    M
4            5   45         Blouse                 0.3625         Oregon    M

       Color  Season  Review Rating Subscription Status  ... Promo Code Used  \
0       Gray  Winter           0.24                 Yes  ...             Yes
1     Maroon  Winter           0.24                 Yes  ...             Yes
2     Maroon  Spring           0.24                 Yes  ...             Yes
3     Maroon  Spring           0.40                 Yes  ...             Yes
4  Turquoise  Spring           0.08                 Yes  ...             Yes

  Previous Purchases Preferred Payment Method Frequency of Purchases  \
0                 14                    Venmo            Fortnightly
1                  2                     Cash            Fortnightly
2                 23              Credit Card                 Weekly
3                 49                   PayPal                 Weekly
4                 31                   PayPal               Annually

   High Purchase    Age Group Gender_Male  Category_Clothing  \
0              0  Middle-Aged        True               True
1              1        Adult        True               True
2              1  Middle-Aged        True               True
3              1        Adult        True              False
4              0  Middle-Aged        True               True

  Category_Footwear  Category_Outerwear
0             False               False
1             False               False
2             False               False
3              True               False
4             False               False

[5 rows x 23 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer ID               3900 non-null   int64
 1   Age                       3900 non-null   int64
 2   Item Purchased            3900 non-null   object
 3   Purchase Amount (USD)     3900 non-null   float64
 4   Location                  3900 non-null   object
 5   Size                      3900 non-null   object
 6   Color                     3900 non-null   object
 7   Season                    3900 non-null   object
 8   Review Rating             3900 non-null   float64
 9   Subscription Status       3900 non-null   category
 10  Payment Method            3900 non-null   object
 11  Shipping Type             3900 non-null   object
 12  Discount Applied          3900 non-null   object
 13  Promo Code Used           3900 non-null   object
 14  Previous Purchases        3900 non-null   int64
 15  Preferred Payment Method  3900 non-null   object
 16  Frequency of Purchases    3900 non-null   object
 17  High Purchase             3900 non-null   int64
 18  Age Group                 3900 non-null   category
 19  Gender_Male               3900 non-null   bool
 20  Category_Clothing         3900 non-null   bool
 21  Category_Footwear         3900 non-null   bool
 22  Category_Outerwear        3900 non-null   bool
dtypes: bool(4), category(2), float64(2), int64(4), object(11)
memory usage: 541.3+ KB
None

In [78]:
data = pd.get_dummies(data, columns=['Gender', 'Category'], drop_first=True)

In [77]:
bins = [0, 18, 35, 60, 100]
labels = ['Youth', 'Adult', 'Middle-Aged', 'Senior']
data['Age Group'] = pd.cut(data['Age'], bins=bins, labels=labels)

In [76]:
data['High Purchase'] = (data['Purchase Amount (USD)'] > 0.5).astype(int)  # Assuming normalized values

In [75]:
from sklearn.preprocessing import MinMaxScaler

# Initialize the scaler
min_max_scaler = MinMaxScaler()

# Normalize 'Purchase Amount (USD)' and 'Review Rating'
data[['Purchase Amount (USD)', 'Review Rating']] = min_max_scaler.fit_transform(data[['Purchase Amount (USD)', 'Review Rating']])

# Verify normalization
print(data[['Purchase Amount (USD)', 'Review Rating']].describe())

       Purchase Amount (USD)  Review Rating
count            3900.000000    3900.000000
mean                0.497054       0.499979
std                 0.296067       0.286489
min                 0.000000       0.000000
25%                 0.237500       0.240000
50%                 0.500000       0.480000
75%                 0.762500       0.760000
max                 1.000000       1.000000

In [74]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (1.6.0)
Requirement already satisfied: numpy>=1.19.5 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (2.1.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [73]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer ID               3900 non-null   int64
 1   Age                       3900 non-null   int64
 2   Gender                    3900 non-null   object
 3   Item Purchased            3900 non-null   object
 4   Category                  3900 non-null   object
 5   Purchase Amount (USD)     3900 non-null   int64
 6   Location                  3900 non-null   object
 7   Size                      3900 non-null   object
 8   Color                     3900 non-null   object
 9   Season                    3900 non-null   object
 10  Review Rating             3900 non-null   float64
 11  Subscription Status       3900 non-null   category
 12  Payment Method            3900 non-null   object
 13  Shipping Type             3900 non-null   object
 14  Discount Applied          3900 non-null   object
 15  Promo Code Used           3900 non-null   object
 16  Previous Purchases        3900 non-null   int64
 17  Preferred Payment Method  3900 non-null   object
 18  Frequency of Purchases    3900 non-null   object
dtypes: category(1), float64(1), int64(4), object(13)
memory usage: 552.5+ KB
None

In [72]:
# Example: Convert 'Age' to integer type if it's not already
data['Age'] = data['Age'].astype(int)

# Convert 'Subscription Status' to categorical type
data['Subscription Status'] = data['Subscription Status'].astype('category')

In [71]:
print(data.dtypes)

Customer ID                   int64
Age                           int64
Gender                       object
Item Purchased               object
Category                     object
Purchase Amount (USD)         int64
Location                     object
Size                         object
Color                        object
Season                       object
Review Rating               float64
Subscription Status          object
Payment Method               object
Shipping Type                object
Discount Applied             object
Promo Code Used              object
Previous Purchases            int64
Preferred Payment Method     object
Frequency of Purchases       object
dtype: object

In [70]:
# Example: Remove outliers
data = data[~((data['Purchase Amount (USD)'] < (Q1 - 1.5 * IQR)) | (data['Purchase Amount (USD)'] > (Q3 + 1.5 * IQR)))]

# Alternatively, cap outliers
data.loc[data['Purchase Amount (USD)'] > (Q3 + 1.5 * IQR), 'Purchase Amount (USD)'] = Q3 + 1.5 * IQR

In [69]:
# Calculate Q1 (25th percentile) and Q3 (75th percentile)
Q1 = data['Purchase Amount (USD)'].quantile(0.25)
Q3 = data['Purchase Amount (USD)'].quantile(0.75)
IQR = Q3 - Q1

# Identify outliers
outliers = data[(data['Purchase Amount (USD)'] < (Q1 - 1.5 * IQR)) | (data['Purchase Amount (USD)'] > (Q3 + 1.5 * IQR))]
print("Outliers:\n", outliers)

Outliers:
 Empty DataFrame
Columns: [Customer ID, Age, Gender, Item Purchased, Category, Purchase Amount (USD), Location, Size, Color, Season, Review Rating, Subscription Status, Payment Method, Shipping Type, Discount Applied, Promo Code Used, Previous Purchases, Preferred Payment Method, Frequency of Purchases]
Index: []

In [68]:
# Example: Fill missing values for 'Review Rating' with the mean
data['Review Rating'].fillna(data['Review Rating'].mean(), inplace=True)

# Alternatively, drop rows with missing values
# data.dropna(inplace=True)

C:\Users\Asus\AppData\Local\Temp\ipykernel_26260\1722787408.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Review Rating'].fillna(data['Review Rating'].mean(), inplace=True)

In [67]:

missing_values = data.isnull().sum()
print(missing_values[missing_values > 0])

Series([], dtype: int64)

In [66]:
#print(data.head())
#print(data.info())
print(data.describe())

       Customer ID          Age  Purchase Amount (USD)  Review Rating  \
count  3900.000000  3900.000000            3900.000000    3900.000000
mean   1950.500000    44.068462              59.764359       3.749949
std    1125.977353    15.207589              23.685392       0.716223
min       1.000000    18.000000              20.000000       2.500000
25%     975.750000    31.000000              39.000000       3.100000
50%    1950.500000    44.000000              60.000000       3.700000
75%    2925.250000    57.000000              81.000000       4.400000
max    3900.000000    70.000000             100.000000       5.000000

       Previous Purchases
count         3900.000000
mean            25.351538
std             14.447125
min              1.000000
25%             13.000000
50%             25.000000
75%             38.000000
max             50.000000

In [65]:
import pandas as pd

# Load the dataset
data = pd.read_csv('shopping_trends_dataset.csv')

# Display the first few rows of the dataset
print(data.head())

   Customer ID  Age Gender Item Purchased  Category  Purchase Amount (USD)  \
0            1   55   Male         Blouse  Clothing                     53
1            2   19   Male        Sweater  Clothing                     64
2            3   50   Male          Jeans  Clothing                     73
3            4   21   Male        Sandals  Footwear                     90
4            5   45   Male         Blouse  Clothing                     49

        Location Size      Color  Season  Review Rating Subscription Status  \
0       Kentucky    L       Gray  Winter            3.1                 Yes
1          Maine    L     Maroon  Winter            3.1                 Yes
2  Massachusetts    S     Maroon  Spring            3.1                 Yes
3   Rhode Island    M     Maroon  Spring            3.5                 Yes
4         Oregon    M  Turquoise  Spring            2.7                 Yes

  Payment Method  Shipping Type Discount Applied Promo Code Used  \
0    Credit Card        Express              Yes             Yes
1  Bank Transfer        Express              Yes             Yes
2           Cash  Free Shipping              Yes             Yes
3         PayPal   Next Day Air              Yes             Yes
4           Cash  Free Shipping              Yes             Yes

   Previous Purchases Preferred Payment Method Frequency of Purchases
0                  14                    Venmo            Fortnightly
1                   2                     Cash            Fortnightly
2                  23              Credit Card                 Weekly
3                  49                   PayPal                 Weekly
4                  31                   PayPal               Annually

In [64]:
pip install pandas

Requirement already satisfied: pandas in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (2.2.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip